<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="querytest.test.samer.myapplicationssss" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden" >
        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Log_in"
            android:label="فأحيينــاه         "
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-rtn2ydcn5ed3els" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MySettingsActivity"
            android:label="@string/title_activity_my_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ChartTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="querytest.test.samer.myapplicationssss.MainActivity" />
        </activity>
        <activity
            android:name=".Add_user"
            android:label="@string/title_activity_add_user"
            android:theme="@style/ChartTheme"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="querytest.test.samer.myapplicationssss.MainActivity" />
        </activity>
        <activity
            android:name=".Add_drs"
            android:label="@string/title_activity_add_drs"
            android:theme="@style/ChartTheme"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="querytest.test.samer.myapplicationssss.MainActivity" />
        </activity>
        <activity
            android:name=".Add_message"
            android:label="إضافة رسالة"
            android:theme="@style/ChartTheme"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="querytest.test.samer.myapplicationssss.MainActivity" />
        </activity>
        <activity
            android:name=".view_user_prog"
            android:immersive="true"
            android:label="@string/title_activity_view_user_prog"
            android:theme="@style/ChartTheme" >
        </activity>

        <receiver
            android:name=".TimerReceiver"
            android:enabled="true" />

        <activity
            android:name=".FullImageActivity"
            android:label="@string/title_activity_full_image"
            android:parentActivityName=".MainActivity"
            android:theme="@android:style/Theme.Holo.Light.Panel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="querytest.test.samer.myapplicationssss.MainActivity" />
        </activity>
        <activity
            android:name=".UserRequests"
            android:label="@string/title_activity_user_requests"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="querytest.test.samer.myapplicationssss.MainActivity" />
        </activity>

        <service
            android:name=".CheckForUpdateService"
            android:enabled="true" />
        <service
            android:name=".SendProgramService"
            android:enabled="true" />

        <receiver
            android:name=".CheckForUpdateReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".CheckForNewDataService"
            >
            </service>
    </application>

</manifest>
